[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xarray = "*"
tensorflow = "*"
tensorflow-addons = "*"
matplotlib = "*"
scipy = "*"
netcdf4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
